[Desktop Entry]
Name=kMancala
Name[ca]=kMancala
Name[ca@valencia]=kMancala
Name[cs]=kMancala
Name[da]=kMancala
Name[de]=kMancala
Name[el]=kMancala
Name[en_GB]=kMancala
Name[eo]=kMancala
Name[es]=kMancala
Name[et]=kMancala
Name[fi]=kMancala
Name[fr]=kMancala
Name[ga]=kMancala
Name[gl]=kMancala
Name[hu]=kMancala
Name[it]=kMancala
Name[ja]=kMancala
Name[kk]=kMancala
Name[km]=kMancala
Name[ko]=kMancala
Name[lv]=kMancala
Name[nb]=kMancala
Name[nds]=kMancala
Name[nl]=kMancala
Name[nn]=kMancala
Name[pa]=kMancala
Name[pl]=kMancala
Name[pt]=kMancala
Name[pt_BR]=kMancala
Name[ro]=kMancala
Name[ru]=kMancala
Name[sr]=kMancala
Name[sr@ijekavian]=kMancala
Name[sr@ijekavianlatin]=kMancala
Name[sr@latin]=kMancala
Name[sv]=kMancala
Name[tr]=kMancala
Name[uk]=kMancala
Name[x-test]=xxkMancalaxx
Name[zh_CN]=kMancala
Name[zh_TW]=kMancala
Exec=kmancala
Icon=kmancala
Type=Application
X-DocPath=kmancala/index.html
GenericName=Mancala
GenericName[ca]=Mancala
GenericName[ca@valencia]=Mancala
GenericName[cs]=Mancala
GenericName[da]=Mancala
GenericName[de]=Mancala
GenericName[el]=Mancala
GenericName[en_GB]=Mancala
GenericName[es]=Mancala
GenericName[et]=Mancala
GenericName[fi]=Mancala
GenericName[fr]=Mancala
GenericName[ga]=Mancala
GenericName[gl]=Mancala
GenericName[hu]=Mancala
GenericName[it]=Mancala
GenericName[ja]=Mancala
GenericName[kk]=Mancala
GenericName[km]=Mancala
GenericName[ko]=Mancala
GenericName[lv]=Mancala
GenericName[nb]=Mancala
GenericName[nds]=Mancala
GenericName[nl]=Mancala
GenericName[nn]=Mancala
GenericName[pa]=Mancala
GenericName[pl]=Mancala
GenericName[pt]=Mancala
GenericName[pt_BR]=Mancala
GenericName[ro]=Mancala
GenericName[ru]=Mancala
GenericName[sr]=Mancala
GenericName[sr@ijekavian]=Mancala
GenericName[sr@ijekavianlatin]=Mancala
GenericName[sr@latin]=Mancala
GenericName[sv]=Mancala
GenericName[tr]=Mancala
GenericName[uk]=Mancala
GenericName[x-test]=Mancala
GenericName[zh_CN]=Mancala
GenericName[zh_TW]=Mancala
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;BoardGame;
